<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LyricSearch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0B436CDC1EE9928B0097971D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B436CF51EE9928C0097971D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B436D001EE9928C0097971D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
